<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
        <h1>Product Detail</h1>
          <h4>
            <a href="/products/<%=product.id%>"><%=product.productsTitle %></a>
          </h4>
          <p><%=product.productsDescription %></p>
          <p>ราคา : <%=product.productsPrice %> บาท</p>
  </body>
</html>
