<!DOCTYPE html>
<html lang="en" class="scroll-smooth">
  <head>
  </head>
  <body>
        <h1>Hello World</h1>\
        <% products.map((product)=>{ %>
          <h4>
            <a href="/products/<%=product.id%>"></a><%=product.productsTitle %>
          </h4>
          <p><%=product.productsDescription %></p>
          <p>ราคา : <%=product.productsPrice %> บาท</p>
        <%})%>
  </body>
</html>
